/*interactive section*/

@media screen and (max-width: 600px)
{
	div.main
	{
		width: 100% !important;
		margin: 0 !important;
	}
}

.banner .nav-menu li:hover a::before
{
	left: 50%;
}


.banner:hover .banner-content
{
	opacity: 1;
	transform: scale(1);
}



/*interactive section*/
html, body
{
	min-width: 477px;
}

body
{
	height: 100vh;

	font-family: Corbel, sans-serif;
	background-color: rgba(0,0,0,0.1);

	margin: 0;
}

.banner
{
	width: 100%;
	height: 50%;

	background:url('../images/cover/nagoya.webp') no-repeat;
	background-size: cover;
	
	position: relative;

	overflow: hidden;
}
.banner .nav-menu 
{
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.2);

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;

	z-index: 1;
}
.banner .nav-menu ul
{
	list-style-type: none;

	margin: 20px;
	padding: 0;

	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: wrap;

	z-index: 1;
}

.banner .nav-menu li
{
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.banner .nav-menu a
{
	text-decoration: none;
	color: white;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;

	padding:0px 10px;
	border-right:1px solid rgba(255,255,255,0.5);

	position: relative;
}

.banner .nav-menu li:last-child a
{
	border:none;
	padding-right: 0;
}

.banner .nav-menu a::before
{
	content: '';

	width: 50%;
	height: 1px;

	background-color: cyan;

	position: absolute;
	bottom: 0;
	left: -100%;

	z-index: 1;

	transform: translate(-50%, 4px);

	transition: all 0.5s;
}

.banner .banner-content
{
	width: 100%;
	height: 100%;

	color: #fff;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
	background-color: rgba(0,0,0,0.4);

	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;

	transform: scale(3);

	transition: all 0.5s;
}

.banner .banner-content span
{
	padding: 40px;
}

div.main
{
	width:90%;
	background-color: white;

	margin: 30px auto;
}

div.main h1:first-child
{
	text-align: center;
	letter-spacing: 2px;
	color: rgba(0,0,0,0.7);
	text-shadow: 2px 8px 10px rgba(0,0,0,0.2);

	padding: 40px 0px 20px 0px;
	margin: 0;
	text-transform: uppercase;

}

#legoland .container1, .container2
{
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin: 0px auto 20px auto;

}

#legoland .container1 .image-box
{
	width: 400px;
	background-size: contain;
	padding: 0px 30px;

	display: flex;
	justify-content: center;
	align-items: center;

}


#legoland .container1 .image-box img
{
	width: 100%;
	border-radius: 0px;
	box-shadow:2px 2px 20px rgba(0,0,0,0.2);
}


#legoland .container1 .content, #legoland .container2 .content
{
	padding: 0px 30px;
	width: 600px;
}

.desc
{
	color: #000;
	font-size: 20px;
	text-align: left;
	letter-spacing: 2px;
}
#legoland .container2 h2
{
	text-transform: capitalize;
}

#legoland .container2 .gmaps-box 
{
	padding: 0px 30px;
}

#legoland .container2 .gmaps-box .gmaps
{
	min-width: 400px;
	height: 250px;

	border-radius: 10px;
	overflow: hidden;

	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

#legoland .container2 .gmaps-box .gmaps iframe
{
	width: 100%;
	height: 100%;
}

#legoland
{
	padding-bottom: 20px;
}

.footer
{
	width: 100%;
	height: 150px;

	background-color: #262626;

	color: white;
	font-size:40px;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;
}