body
{
	font-family: Corbel, sans-serif;
	background-color: rgba(0,0,0,0.1);
	height: 100vh;

	margin: 0;
}

.banner
{
	width: 100%;
	height: 50%;

	background:url('../images/cover/nagoya.webp') no-repeat;
	background-size: cover;
	
	position: relative;

	overflow: hidden;
}

.banner .banner-content
{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
	background-color: rgba(0,0,0,0.5);

	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;

	transform: scale(3);

	transition: all 0.5s;
}

.banner:hover .banner-content
{
	opacity: 0.8;
	transform: scale(1);
}

div.main
{
	width:90%;
	background-color: white;

	margin: 30px auto;
}

div.main h1:first-child
{
	text-align: center;
	letter-spacing: 2px;
	color: rgba(0,0,0,0.7);
	text-shadow: 2px 8px 10px rgba(0,0,0,0.2);

	padding: 40px 0px 20px 0px;
	margin: 0;
	text-transform: uppercase;

}

.legoland .container1, .container2
{
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin: 0px auto 20px auto;

}

.legoland .container1 .image-box
{
	width: 400px;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;

}


.legoland .container1 .image-box img
{
	width: 100%;
	border-radius: 10px;
	box-shadow:2px 2px 20px rgba(0,0,0,0.2);
}


.legoland .container1 .content, .legoland .container2 .content
{
	padding: 0px 30px;
	width: 600px;
}

.desc
{
	color: #000;
	font-size: 20px;
	text-align: left;
	letter-spacing: 2px;
}
.legoland .container2 h2
{
	text-transform: capitalize;
}

.legoland .container2 .gmaps-box
{
	width: 400px;
	height: 300px;

	border-radius: 10px;
	overflow: hidden;

	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);

	margin-left: 20px;
}

.legoland .container2 .gmaps-box iframe{
	width: 100%;
	height: 100%;
}

.footer
{
	width: 100%;
	height: 150px;

	background-color: #262626;

	color: white;
	font-size:40px;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;
}